<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="20" cols="30" placeholder="int list 1"></textarea>
        <textarea name="input2" rows="20" cols="30" placeholder="1 integer"></textarea>
	<textarea name="input3" rows="20" cols="30" placeholder="int list 2"></textarea>
        <textarea name="input4" rows="20" cols="30" placeholder="1 integer"></textarea>
        <br>
        <input type="submit">
  </form>

