<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
  <h2>In the first form, enter a list of integers seperated by a newline charecter.</h2>
  <h2>In the second form, enter another integer.</h2>
  <h2>If this integer is found in the list, the result becomes true.</h2>
  <h2>In the third form, enter a list of integers seperated by a newline charecter.</h2>
  <h2>In the fourth form, enter another integer. </h2>
  <h2>If all the integer in the list are divisible by this integer that in the fourth form,the result becomes true. </h2>
    First  Result is {{result}}
    Second Result is {{result2}}


  <form action="compute" method="post">
        <textarea name="input1" rows="20" cols="30" placeholder="int list 1"></textarea>
        <textarea name="input2" rows="20" cols="30" placeholder="1 integer"></textarea>
	<textarea name="input3" rows="20" cols="30" placeholder="int list 2"></textarea>
        <textarea name="input4" rows="20" cols="30" placeholder="1 integer for multiples"></textarea>
        <br>
        <input type="submit">
  </form>

